# R Data Frames Cheat Sheet

Note: the course focuses on using Python. This sheet on R is included as additional reading, to show how similar principles of data analysis apply in R, the other most prominant tool for data science.

## Importing data

Use `{readr}` to read data into a Tibble data frame.

In [1]:
data <- readr::read_csv("people.csv")
data

Rows: 4 Columns: 4
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): name
dbl  (2): weight, height
date (1): birthdate

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  name           birthdate  weight height
1 Alice Archer   1997-01-10 57.9   1.56
2 Ben Brown      1985-02-15 72.5   1.77
3 Chloe Cooper   1983-03-22 53.6   1.65
4 Daniel Donovan 1981-04-30 83.1   1.75